.vscode

__pycache__
*.pyc

*.hdf5

model/facenet/20180408-102900.pb
model/mtcnn/det*

image_setup_util.sh
caltech
gtdb
lfw
pairs.txt
people.txt
vggface2
vggface2_*
train
test

*.tar
*.gz
*.tgz
*.zip
