.vscode

__pycache__
*.pyc

src/model/facenet
src/model/arcface
src/model/mtcnn

image_setup_util.sh
rs
caltech
gtdb
lfw
pairs.txt
people.txt
vggface2
vggface2_*
train
test

*.hdf5
*.jpg
*.tar
*.gz
*.tgz
*.zip
